@use "../_variables" as *;
@use "sass:color";

.infotooltip-content {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  border-radius: 4px;
  padding: 16px;
  line-height: 20px;
  background-color: var(--bg-gray-weak);
  color: var(--text-medium);
  // box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  user-select: none;
  will-change: transform, opacity;
  z-index: 2500;
  box-shadow: 0px 3px 7px var(--sd);
  transition: opacity 200ms ease-out;
  opacity: 0;
  pointer-events: none;
  white-space: normal;

  span {
    padding: 2px 6px;
    border: 1px solid var(--bg-gray-weak);
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
  }

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

}
