@use "../_variables" as *;

.container-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  background-color: var(--bg-gray-op-medium);
  pointer-events: auto;

  &.transparent {
    background-color: transparent;
    pointer-events: none;

    > div {
      pointer-events: auto;
    }
  }
}
