@use "../_variables" as *;

.zoom-tools {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
  gap: 8px;
  padding: 5px;
  background: color-mix(in srgb, var(--bg-dark) 30%, transparent);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  color: var(--text-invert);
}

.zoom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
  height: fit-content;
  min-width: 120px;
  min-height: 120px;

  .zoom-child {
    line-height: 0;
    padding: 0;
    margin: 0;
  }

  .zoom-tools {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    .zoom-tools {
      opacity: 1;
    }
  }
}

.zoom-button {
  width: 28px;
  height: 28px;

  svg {
    width: 18px;
    height: 18px;
    color: var(--text-invert);
  }
}

.zoom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-gray-op-medium);
  z-index: 2500;

  > div {
    width: 100%;
    height: 100%;

    .zoom-content {
      position: absolute;
      object-fit: contain;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .zoom-tools {
    top: 5px;
    bottom: unset;
  }
}